# ignore the backend venv
backend/.venv

# environment files
.env

# editor settings
.vscode

# Python cache — all levels, all folders
__pycache__/
**/__pycache__/
backend/src/__pycache__/
*/*/__pycache__/*

*.py[cod]
*.pyo

# uv / pip artifacts
*.egg-info/
dist/
build/

# os specific git ignores 
.DS_Store 

# claude 
.claude/